*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --primary: #2a292c;
    --primary-opacity: #202020;
    --background: #202020;
    --secondary-background: #1d6bb4;
    --text: #f3f3f3;
    --text-black: #141414;
    --subtext: #A8A8A9;
}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}



body{
    background-color: var(--background);
    width: 100vw;
    height: 100vh;
}
input{
    text-align: center;
}



main{
    width: 100%;
    height: 92%;
    margin-top: 2px;
}
main .container{
    min-width: 200px;
    width: 90%;
    height: 80%;
    background-color: var(--primary);
    border-radius: 7px;
    padding: 30px;
}
.preview, .configs{
    flex: 1;
    padding: 0px 5px;
    text-align: center;
    color: var(--text);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.title{
    position: relative;
    left: -15px;
    top: -20px;
}
.button {
    padding: 10px 5px;
    width: 100%;
    margin-top: 5%;
    background-color: var(--secondary-background);
    border: 1px solid var(--secondary-background);
    border-radius: 5px;
    color: var(--text);
    text-decoration: none;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
.button.salvar_opcao {
    margin-top: 0px;
}
.preview img{
    width: 100%;
    box-shadow: 0px 0px 15px var(--primary-opacity);
    border-radius: 7px;
}
.configs{
    background-color: var(--primary-opacity);
    border-radius: 7px;
}
.content{
    width: 95%;
    height: 75%;
}
.preview .content{
    margin-top: 3%;
}
.configs .menu{
    margin: 10px 0px;
    width: 97%;
    height: 50px;
    border-radius: 7px;
    background-color: var(--secondary-background);
}
.configs .content{
    margin-top: 2%;
    width: 97%;
    height: 80%;
}
.configs .content section{
    width: 100%;
    height: 100%;
}
.configs ul{
    width: 100%;
    height: 100%;
    justify-content: space-around;
}
.configs ul li{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 7px;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    transition: .3s all;
}
.configs .selected{
    background-color: var(--text);
    color: var(--text-black);
}



.hide {
    display: none;
}



.base{
    flex-wrap: wrap;
    justify-content:  space-between;
}
.base img{
    max-width: 30%;
    max-height: 30%;
    flex: 1;
    cursor: pointer;
    transition: .3s;
    border-radius: 5px;
}
.base .selected{
    border: 2px solid white;
    border-radius: 5px;
}



.texto textarea{
    resize: none;
    width: 100%;
    height: 20%;
    padding: 5px;
    border: none;
    outline: transparent;
    border-radius: 7px;
}
.text {
    margin-top: 10px;
    background-color: var(--primary);
    border: 1px solid var(--primary);
}


.selo{
    flex-wrap: wrap;
    justify-content:  space-between;
}
.selo img{
    max-width: 100%;
    max-height: 100%;
    flex: 1;
    cursor: pointer;
    transition: .3s;
    border-radius: 5px;
    margin: 5px;
}
.selo .selected{
    border: 2px solid white;
    border-radius: 5px;
}
.selo_img_option{
    width: 25%;
} 
.selo_pos img{
    width: 30%;
    margin: 5px;
}
.selo_opc input{
    width: 20%;
    height: 30%;
    border-radius: 5px;
    outline: transparent;
    border: none;
}
input.selected {
    border: 2px solid black !important;
    border-radius: 5px !important;
}
.selo_opc .btn_selected{
    border: 3px solid #56bb4d;
}



.input{
    margin-top: 10px;
    margin-bottom: 50px;
    width: 20%;
    height: 10%;
    border-radius: 5px;
    outline: transparent;
    border: none;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width:750px) {
    .container {
        flex-direction: column;
        margin-top: 6rem;
    }

    .title {
        left: 0;
        top: 0;
    }

    .logo img {
        width: 10%;
    }

    .preview {
        padding: 0px;
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .texto textarea{
        width: 100%;
        height: 6rem;
    }

    main .container{
        width: 100%;
        height: 100%;
        padding: 0px;
    }
}